PipeLines/pipeline/BlobToSQLDB.json
{
	"name": "BlobToSQLDB",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Name",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Container_BlobFeb2023",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@pipeline().parameters.ParentContainerName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Loop Through All Folder Exists in Container",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Folder Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Folder Name').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ParentContainerName": {
				"type": "string",
				"defaultValue": "2023"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-17T05:53:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}