PipeLines/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get File Information",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Container_BlobFeb2023_FileNameInfo",
						"type": "DatasetReference",
						"parameters": {
							"DirName": {
								"value": "@pipeline().parameters.FolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File Information",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File Information').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Data From Blob toSQL DB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"type": "String",
												"ordinal": 1
											},
											"sink": {
												"name": "RowID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 2
											},
											"sink": {
												"name": "OrderID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 3
											},
											"sink": {
												"name": "OrderDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 4
											},
											"sink": {
												"name": "ShipDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 5
											},
											"sink": {
												"name": "ShipMode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 6
											},
											"sink": {
												"name": "CustomerID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 7
											},
											"sink": {
												"name": "CustomerName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 8
											},
											"sink": {
												"name": "Segment",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 9
											},
											"sink": {
												"name": "Country",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 10
											},
											"sink": {
												"name": "City",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 11
											},
											"sink": {
												"name": "State",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 12
											},
											"sink": {
												"name": "Postal Code",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 13
											},
											"sink": {
												"name": "Region",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 14
											},
											"sink": {
												"name": "ProductID",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 15
											},
											"sink": {
												"name": "Category",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 16
											},
											"sink": {
												"name": "SubCategory",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 17
											},
											"sink": {
												"name": "ProductName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 18
											},
											"sink": {
												"name": "Sales",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 12
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 19
											},
											"sink": {
												"name": "Quantity",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 20
											},
											"sink": {
												"name": "Discount",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 12
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 21
											},
											"sink": {
												"name": "Profit",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 12
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 22
											},
											"sink": {
												"name": "LoadType",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"type": "String",
												"ordinal": 23
											},
											"sink": {
												"name": "TestRowID",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Blob_CopyDataActivity",
									"type": "DatasetReference",
									"parameters": {
										"DirName": {
											"value": "@pipeline().parameters.FolderName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_OnPremFeb2023Tables",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FolderName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}